* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

.cmt {
  padding: 16px 20px;
  border-radius: 6px;
  background-color: #2dba4e;
  margin: 16px 0;
}
